.container-day{
    float: left;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-day:hover{
    border: 2px solid #282828;
    cursor: pointer;
}

.container-day h3{
    margin: 0;
}

.container-dynamicView{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.container-dynamicView h3{
    font-size: 10px;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    border: 1px solid #cccccc;
    margin: 0;
    justify-content: center;
    align-items: center;
}

ul li{
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    min-width: 100px;
}

.container-calendar{
    width: 700px;
}

.container-disable{
    background-color: #eeeeee;
    color: #b9b8b8;
    border: #b9b8b8;
}

.container-disable:hover{
    background-color: #eeeeee;
    color: #b9b8b8;
    border: #b9b8b8;
}

::-webkit-scrollbar {
    width: 1px;
  }

