<div class="container-calendar">
  <nav #navElement class="navbar navbar-light bg-light">
    <button class="btn" (click)="previousMonth()">
      < </button>
        <h1>{{month.format('MMMM')}} - {{month.year()}}</h1>
        <button class="btn" (click)="nextMonth()"> > </button>
  </nav>

  <ul class="container-list" *ngIf="!dynamicView">
    <li [ngStyle]="{'width': navElement.offsetWidth / 7 + 'px'}" class="item-list" *ngFor="let day of listDayes">
      {{day}}
    </li>
  </ul>

  <div [ngClass]="{'container-dynamicView': dynamicView}">
    <div [ngClass]="{'container-disable': !elementDay.enable}" 
    [ngStyle]="{ 
      'width':  dynamicView ? '21px' : (navElement.offsetWidth / 7 ) - 10 + 'px', 
      'height':  dynamicView ? '21px' : (navElement.offsetWidth / 7) - 10 + 'px'
  }" class="container-day" *ngFor="let elementDay of listDaysInMonth; let i = index" (click)="selectDate()">
      <h3>{{getFormateDate(elementDay.date)}}</h3>
    </div>
  </div>

  <table class="table" *ngIf="dynamicView">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Employ</th>
        <th scope="col">FullName</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listTime">
        <th scope="row">{{item.hour}}</th>
        <td>{{item.employNumber}}</td>
        <td>{{item.user}}</td>
        <td>{{item.course}}</td>
      </tr>
    </tbody>
  </table>
</div>


